/* ////////PAGE  */
.mainSection {
  font-family: Arial, sans-serif;
}

/* //////////////////HEADER BLOCK */

.headerBlock {
  background-color: #006a4d;
}

/* /////////////////////////Log On Section */

.logOnSection {
  background-image: url(/mainbankPic.jpg);
  background-size: cover;
  background-position: center;
}

.logOn {
  background-color: #006a4d;
  border-color: #006a4d;
}

.logOn:hover {
  background-color: #00543f;
  border-color: #00543f;
}

.logOn:active,
.logOn:focus {
  background-color: #006a4d !important;
  border-color: #006a4d !important;
  color: white;
  box-shadow: none !important;
  outline: none;
}
